# Compiled class files
*.class

# Log files
*.log

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Maven specific files
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# IntelliJ IDEA specific files
.idea/
*.iws
*.iml
*.ipr

# OS-specific files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp
*.swp

# Log directories
logs/

# Build directories
bin/
build/

# Ignore HELP.md
HELP.md